# Directories
external
build
bin
lib
CMakeFiles
install_manifest.txt
svg-cpp-plot-prefix/
CmakeCache.txt
CmakeSettings.json

Makefile
cmake_install.cmake

#images:
*.svg
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db-wal
*.db-shm
*.db
*.tlog
*.tlog
*.recipe
MidiMaze/x64/Debug/MidiMaze.exe.recipe
MidiMaze/x64/Debug/MidiMaze.log
MidiMaze/x64/Debug/MidiMaze.tlog/CL.command.1.tlog
MidiMaze/x64/Debug/MidiMaze.tlog/CL.read.1.tlog
MidiMaze/x64/Debug/MidiMaze.tlog/MidiMaze.lastbuildstate
MidiMaze/x64/Debug/MidiMaze.tlog/link.write.1.tlog
MidiMaze/x64/Debug/MidiMaze.tlog/link.read.1.tlog
*.tlog
*.tlog
